body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(rgb(255, 192, 203), rgb(147, 112, 219));
}

#noButton {
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
  margin-top: 30px;
}

#yesButton {
  position: absolute;
  margin-right: 150px;
  margin-top: 30px;
}

.header_text {
  font-family: "Nunito";
  font-size: 50px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.text {
  font-family: "Nunito";
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  background-color: #000000;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px; /* Slightly increased margin for spacing */
  cursor: pointer;
  border: none;
  border-radius: 24px; /* Increased border-radius for a smoother look */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform for a subtle scale effect */
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow for a softer look */
}

.btn:hover {
  background-color: #8c43a6; /* A slightly darker shade on hover */
  transform: scale(1.05); /* Slight scale effect on hover */
}


.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: white;
  margin-left: 50%;
}
p a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  opacity: 0.25;
}
